# Google Gemini API key from: https://aistudio.google.com/app/apikey
GOOGLE_API_KEY=your_google_api_key_here
ASTRA_DB_API_ENDPOINT=your_astra_db_api_endpoint_here
ASTRA_DB_APPLICATION_TOKEN=your_astra_db_token_here
ASTRA_DB_KEYSPACE=default_keyspace
